* + table {
  border:1px solid #007eff;
  border-collapse:collapse;
  margin: 20px auto 20px auto;
}
 
* + table th, * + table td {
  border:1px solid #429fff;
  background-color:#d2e8ff;
  font-weight:bold;
  padding-top:4px;
  padding-bottom:4px;
  padding-left:10px;
  padding-right:10px;
  text-align:center;
}
 
* + table th {
  border-style:solid;
  font-weight:bold;
  background: url("/images/noise.png?1330434582") repeat scroll left top #F7F3F7;
}
 
* + table th[align="left"], * + table td[align="left"] {
  text-align:left;
}
 
* + table th[align="right"], * + table td[align="right"] {
  text-align:right;
}
 
* + table th[align="center"], * + table td[align="center"] {
  text-align:center;
}